td{
    background-color: skyblue;
    color: rgb(39, 1, 1);
}
body{
    background-color:rgb(75, 72, 72) ;
}
caption{
    color: skyblue;
}
.th{
    color: rgb(78, 53, 0);
    background-color: skyblue;
}
th{ background-color: skyblue;
}